* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 119px;
}

.contenedor {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

h2,
h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

a,
p,
li,
label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #023047;
    padding: 30px 8px 15px 60px;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    border-bottom: 4px solid #fb8500;
}

header a img {
    width: 200px;
    height: 70px;
    padding-left: 50px;
}

header nav a {
    padding-right: 60px;
    text-decoration: none;
    color: whitesmoke;
}

header a:hover {
    color: #fb8500;
}

header a:focus {
    color: #fb8500;
}


section {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h2{
    text-align: center;
    font-size: 40px;
    color: black;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-top: 10px;
}

#reservas-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.container-background-1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    gap: 40px;
}

.reservas{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    gap: 10px;
    border: solid 1px #fb8500;
    border-radius: 10px;
    transform: scale(1);
    transition: 200ms ease-in;
    -webkit-box-shadow: 0px 0px 55px -18px rgba(168,161,168,1);
    -moz-box-shadow: 0px 0px 55px -18px rgba(168,161,168,1);
    box-shadow: 0px 0px 55px -18px rgba(168,161,168,1);
}

.reservas:hover{
    transform: scale(1.05);
    transition: 200ms ease-out;

}

/* .container-informacion-adicional{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.informacion-adicional{
    text-align: center;
}
 */
h2{
    width: 25%;
    font-size: 35px;
}

.estadoReserva-aprobada{
    background-color: #04AA6D;
    width: 20%;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.estadoReserva-rechazada{
    background-color: #aa1212;
    width: 20%;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.estadoReserva-pendiente{
    background-color: #ffa600;
    width: 20%;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cancelarReserva{
    width: 20%;
    text-align: left;
    border-radius: 30px;
    border: none;
    text-align: center;
    padding: 15px 30px;
    margin-left: 15px;
    background: linear-gradient(135deg, #fb8500, #ff7c00);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 4px 3px rgba(0, 0, 0, 0.3);
    outline: none;
}

.cancelarReserva:hover {
    background: linear-gradient(135deg, #ff7c00, #ff6100);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.cancelarReserva:active {
    transform: translateY(1px);
}

