* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 119px;
}

.contenedor {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2,
h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

a,
p,
li,
label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #023047;
    padding: 30px 8px 15px 60px;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    border-bottom: 4px solid #fb8500;
}

header a img {
    width: 200px;
    height: 70px;
    padding-left: 50px;
}

header nav a {
    padding-right: 60px;
    text-decoration: none;
    color: whitesmoke;
}

header a:hover {
    color: #fb8500;
}

header a:focus {
    color: #fb8500;
}

/* Login: */

.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.contenedor h1{
    width: 100%;
    text-align: center;
}

.login-registro-container{
    width: 500px;
    height: 500px;
    z-index: 0;
    background-color: #c5dce7;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: left;
    gap: 15px;
    padding: 50px;
}

.form-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: left;
}

.form-content input{
    width: 70%;
    height: 25px;
    margin: 10px 0px;
    padding-left: 10px;
}

.button-form{
    margin: 10px;
    text-align: center;
}

.buttonLogin{
    width: 40%;
    height: 40px;
    cursor: pointer;
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 4px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.buttonLogin:hover {background-color:#bd3810}

#login-img{
    z-index: 44444;
    width: 600px;
    height: 600px;
    background-color: #fb8500;
    background-image: url("../img/logoChico.png");
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 960px;
    top: 119px;
}


#login-img {
    position: absolute;
    right: 100%;
    transition: transform 0.5s ease-in-out;
  }
  

  .move-left {
    transform: translateX(-100%);
  }
  
  .move-right {
    transform: translateX(0);
  }